h1 {
  font-size: 6em;
  color: #e9f2f1;
  line-height: 0.8em;
  text-align: right;
}

h1 .accent {
  color: #fe4a73;
}

hr {
  margin: 40px 0;
  border-top: none;
}

p {
  color: #e9f2f1;
  line-height: 1.5;
}

.action-block {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-wrapper {
  display: flex;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn:first-child {
  margin-right: 20px;
}

button {
  font-family: "Nirmala UI", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  border: none;
  background: #e9f2f1;
  color: #fe4a73;
  border-radius: 15px;
  width: 50px;
  height: 60px;
  margin-bottom: 10px;
  cursor: pointer;
}

button:active {
  outline: none;
}

button.active {
  background: #fe4a73;
  color: #e9f2f1;
  outline: none;
}