.floater {
  background: #fe4a73;
  position: absolute;
  width: 170px;
  border-radius: 0 130px 130px 0;
  margin: 30px 0 0 -20px;
  padding: 10px;
  text-align: center;
  box-shadow: -5px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.icon-temp {
  display: flex;
  justify-content: center;
  align-items: center;
}

#temp {
  font-size: 3em;
  margin-left: 10px;
}

.icon-temp img {
  width: 60px;
}

#location-img {
  border-radius: 0 130px 0 130px;
  box-shadow: -5px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.location-info {
  text-align: right;
  color: #e9f2f1;
  margin-top: 10px;
}

.location-info p {
  font-weight: 300;
}

.country {
  font-size: 1.7em;
}